<nav class="footer">
    <ul>
        <div id="footer">
            <h5>&copy; celine.ma@ontariotechu.net</h5>
        </div>
        <li>
            <a href="https://www.google.ca/">Google</a>
            <a href="https://aws.amazon.com/">AWS</a>
        </li>
    </ul>
</nav>
